jars
.env
.venv
seaweedfs/filer-data
seaweedfs/master-data
seaweedfs/volume-data
cdc-setup
flink-jobs/paimon-init-prod.sql
flink_python_prod.ipynb
flink-config/flink-conf-prod.yml
*__pycache__
.zookeeper_enabled