services:
  jobmanager:
    container_name: jobmanager
    environment:
      - FLINK_ENV=prod
    volumes:
      - ./flink-config/flink-conf-prod.yml:/opt/flink/conf/checkpointing.yml:ro

  taskmanager:
    environment:
      - FLINK_ENV=prod
    deploy:
      replicas: 3
    volumes:
      - ./flink-config/flink-conf-prod.yml:/opt/flink/conf/checkpointing.yml:ro

  sql-gateway:
    container_name: sql-gateway
    environment:
      - FLINK_ENV=prod
    volumes:
      - ./flink-config/flink-conf-prod.yml:/opt/flink/conf/checkpointing.yml:ro