services:
  jobmanager:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jobmanager
    ports:
      - "8080:8081"
      - "6123:6123"
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        jobmanager.rpc.port: 6123
        jobmanager.memory.process.size: 2g
        jobmanager.scheduler: Default
        cluster.fine-grained-resource-management.enabled: false
    volumes:
      - ./jars:/opt/flink/usrlib:Z
    command: >
      bash -c "cat /opt/flink/conf/checkpointing.yml >> /opt/flink/conf/config.yaml && ./bin/jobmanager.sh start-foreground"
    networks:
      - flink-net

  taskmanager:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - | 
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.memory.process.size: 2g
        cluster.fine-grained-resource-management.enabled: false
    volumes:
      - ./jars:/opt/flink/usrlib:Z
    command: >
      bash -c "cat /opt/flink/conf/checkpointing.yml >> /opt/flink/conf/config.yaml && ./bin/taskmanager.sh start-foreground"
    depends_on:
      jobmanager:
        condition: service_started
    networks:
      - flink-net

  sql-gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flink-sql-gateway
    ports:
      - "8081:8083"
    volumes:
      - ./jars:/opt/flink/usrlib:Z
    command: >
      bash -c "cat /opt/flink/conf/checkpointing.yml >> /opt/flink/conf/config.yaml && ./bin/sql-gateway.sh start-foreground 
      -Dsql-gateway.endpoint.rest.address=0.0.0.0 
      -Dsql-gateway.endpoint.rest.port=8083
      -Dsql-gateway.session.idle-timeout=2h
      -Dsql-gateway.session.check-interval=30min
      -Djobmanager.rpc.address=jobmanager
      -Drest.address=jobmanager
      -Drest.port=8081"
    depends_on:
      jobmanager:
        condition: service_started
    networks:
      - flink-net

networks:
  flink-net:
    driver: bridge
    name: flink-net