metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
db_engine = "lmdb"

replication_factor = 1

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "garage:3901"
rpc_secret = "f23a8e36f83397bf807e92f62de49476e390839744d1c607db253401a72f7484"

[s3_api]
s3_region = "us-east-1"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage"

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage"
index = "index.html"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "f74c80e2188ee578af61c0fdafe1e33ea16e2f703d170784da5ef37628e9323b"
metrics_token = "dc3a32af9f6882ffa9a365bc4cfe7a71f75b9e1ba7be7374ffc09daaf5ef2bae"