services:
  jobmanager:
    container_name: jobmanager
    environment:
      - FLINK_ENV=prod
    volumes:
      - cdc-yaml:/shared/cdc-yaml:Z
      - ../flink-config/flink-conf-prod.yml:/opt/flink/conf/checkpointing.yml:ro

  taskmanager:
    environment:
      - FLINK_ENV=prod
    deploy:
      replicas: 3
    volumes:
      - cdc-yaml:/shared/cdc-yaml:Z
      - ../flink-config/flink-conf-prod.yml:/opt/flink/conf/checkpointing.yml:ro

  sql-gateway:
    container_name: sql-gateway
    environment:
      - FLINK_ENV=prod
    volumes:
      - cdc-yaml:/shared/cdc-yaml:Z
      - ../flink-config/flink-conf-prod.yml:/opt/flink/conf/checkpointing.yml:ro

networks:
  flink-net:
    driver: bridge
    name: flink-net

volumes:
  cdc-yaml: